apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: ecommerce
  labels:
    app: gateway
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    name: http
    protocol: TCP
  - port: 8081
    targetPort: 8081
    name: management
    protocol: TCP
  selector:
    app: gateway
