apiVersion: v1
kind: Service
metadata:
  name: mysql-headless
  namespace: springcloud-alibaba
  labels:
    app: mysql
spec:
  ports:
    - port: 3306
      name: mysql
      targetPort: 3306
    - port: 9104
      name: metrics
      targetPort: 9104
  clusterIP: None
  selector:
    app: mysql
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: springcloud-alibaba
  labels:
    app: mysql
    role: master
spec:
  type: ClusterIP
  ports:
    - port: 3306
      name: mysql
      targetPort: 3306
      protocol: TCP
    - port: 9104
      name: metrics
      targetPort: 9104
      protocol: TCP
  selector:
    app: mysql
    statefulset.kubernetes.io/pod-name: mysql-0
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-slave-service
  namespace: springcloud-alibaba
  labels:
    app: mysql
    role: slave
spec:
  type: ClusterIP
  ports:
    - port: 3306
      name: mysql
      targetPort: 3306
      protocol: TCP
  selector:
    app: mysql
