apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: ecommerce
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
  - port: 8084
    targetPort: 8084
    name: http
    protocol: TCP
  - port: 8085
    targetPort: 8085
    name: management
    protocol: TCP
  selector:
    app: user-service
