apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: ecommerce
  labels:
    app: payment-service
spec:
  type: ClusterIP
  ports:
  - port: 8086
    targetPort: 8086
    name: http
    protocol: TCP
  - port: 8087
    targetPort: 8087
    name: management
    protocol: TCP
  selector:
    app: payment-service
