# Kibana 部署
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: springcloud-alibaba
  labels:
    app: kibana
    component: logging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
        component: logging
    spec:
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:8.12.0
          ports:
            - name: http
              containerPort: 5601
              protocol: TCP
          env:
            - name: ELASTICSEARCH_HOSTS
              value: "http://elasticsearch-service:9200"
            - name: ELASTICSEARCH_USERNAME
              value: "elastic"
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: elasticsearch-secret
                  key: password
            - name: SERVER_NAME
              value: "kibana.springcloud-alibaba"
            - name: SERVER_HOST
              value: "0.0.0.0"
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 1000m
              memory: 2Gi
---
apiVersion: v1
kind: Service
metadata:
  name: kibana-service
  namespace: springcloud-alibaba
  labels:
    app: kibana
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 5601
      targetPort: 5601
      protocol: TCP
  selector:
    app: kibana
