apiVersion: v1
kind: Service
metadata:
  name: mysql-headless
  namespace: ecommerce
  labels:
    app: mysql
spec:
  ports:
  - port: 3306
    name: mysql
  clusterIP: None
  selector:
    app: mysql

---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: ecommerce
  labels:
    app: mysql
spec:
  ports:
  - port: 3306
    name: mysql
  selector:
    app: mysql
  type: ClusterIP
