apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: ecommerce
  labels:
    app: order-service
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    name: http
    protocol: TCP
  - port: 8083
    targetPort: 8083
    name: management
    protocol: TCP
  selector:
    app: order-service
